<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @entry.event %>
</p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @entry.location %>
</p>

<p>
  <strong>Type:</strong>
  <%= @entry.type %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
